<div>
    <table class="chessboard">
        <tbody>
            <%(1..8).each do |y_coord|  %>
            <tr id = <%= y_coord %>>
                <%(1..8).each do |x_coord|  %>
                    <td data-x-coord = <%= x_coord %> data-y-coord = <%= y_coord %> class = <%= "#{(y_coord % 2 == x_coord % 2 ? "white-square droppable-square" : "black-square droppable-square")}" %> >
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>
